# Supabase Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=y

# Server Configuration
PORT=5000
FRONTEND_URLS=http://localhost:5173,https://lms-2026-pi.vercel.app
COOKIE_SAME_SITE=none
COOKIE_SECURE=true
# Optional: set only if you need cookie scoped to a parent domain
# COOKIE_DOMAIN=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=
